#masterLiFalunPic {
  z-index: 15;
  width: 350px;
  height: 420px;
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  margin-left: -175px;
  margin-top: -100px;
  
}

#ripples {
  animation-name: silverAndGold;
  animation-timing-function: ease-out;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  opacity: 0.5;
  width: 400px;
  height: 400px;
  z-index: 6;
  position: fixed;
  top: 50%;
  right: 50%;
  margin-top: -200px;
  margin-right: -199px;
  opacity: 1.0;
  border-radius: 100%;
  display: none;
}

@keyframes silverAndGold {
  0% {
    box-shadow: 0px 0px 100px 30px gold;
  }
  37.5% {
    box-shadow: 0px 0px 100px 30px gold;
  }
  50% {
    box-shadow: 0px 0px 100px 30px silver;
  }
  87.5% {
    box-shadow: 0px 0px 100px 30px silver;
  }
  100% {
    box-shadow: 0px 0px 100px 30px gold;
  }
}

#sparklingRays {
  width: 100vw;
  height: auto;
  position: fixed;
  z-index: 5;
  top: 50%;
  right: 50%;
  margin-top: -50%;
  margin-right: -50%;
  display: none;
}

#masking {
  z-index: 5;
}

#black {
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 13;
  position: relative;
  display: none;
}

#blackIntro {
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 15;
  position: relative;
  display: none;
}

#goldenParadisePic {
  height: 100vh;
  width: auto;
  position: relative;
  z-index: 16;
  display: none;
}


#nebula {
  height: 100vh;
  width: auto;
  display: none;
  opacity: 1.0;
  position: relative;
  z-index: 14;
}

.growCreator {
  animation-name: creatorIntro;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes creatorIntro {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1.0);
  }
}

.hello {
  color: gold;
  z-index: 6;
  position: fixed;
  text-align: center;
  bottom: 10%;
  width: 50%;
  bottom: 10%;
  right: 25%;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

#page1 {
  color: white;
  z-index: 6;
  position: relative;
  text-align: center;
  display: none;
}


#mid {
  width: auto;
  height: 100vh;
}



/* Extra small devices (phones, up to 480px) */
@media screen and (max-width: 767px) {
  #playPic {
    height: 200px;
    width: 200px;
    top: 50%;
    right: 50%;
    transform: translateX(50%);
  }

  button {
    top: 50%;
  }

  #i {
    height: 20px;
    width: 20px;
  }

  .objects, .dark, #dark, #colors, .light, #enterGlow, #innerWhite {
      
      height: 101px;
      width: 100px;
      margin-left: -50px;
      margin-bottom: -50px;
  }

  .darkImg, .lightImg {
      height: 101px;
      width: 100px;
  }

  #page1, #page2, #hello2, #text {
    font-size: 0.7em;
  }

  #text {
    position: relative;
    bottom: -57vh;
    transform: translateY(5vh);
  }

  .textContainer h3{
  position: relative;
  top: 50%;
  transform: translateY(30%);
}

}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
 #playPic {
    height: 300px;
    width: 300px;
  }

  .objects, .dark, #dark, #colors, .light, #enterGlow, #innerWhite {
      height: 202px;
      width: 200px;
      margin-left: -101px;
      margin-bottom: -100px;
  }

  .darkImg, .lightImg {
    height: 202px;
    width: 200px;
  }

  #page1, #page2, #hello2, #text {
    font-size: 1.0em;
  }

  .textContainer h3{
    position: relative;
    top: 50%;
    transform: translateY(40%);
  }

  #text {
    transform: translateY(65vh);
  }
}
/* tablets/desktops and up ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
 #playPic {
    height: 400px;
    width: 400px;
  }

  .objects, .dark, #dark, #colors, .light, #enterGlow, #innerWhite {
      height: 303px;
      width: 300px;
      margin-left: -152px;
      margin-bottom: -150px;
  }

  .darkImg, .lightImg {
    height: 303px;
    width: 300px;
  }

  #page1, #page2, #hello2, #text {
    font-size: 1.20em;
  }

  .textContainer h3 {
    position: relative;
    top: 40%;
    transform: translateY(30%);
  }

  #text {
    transform: translateY(70vh);
  }
}
/* large desktops and up ----------- */
@media screen and (min-width: 1200px) {
 #playPic {
    height: 500px;
    width: 500px;
  }

  .objects, .dark, #dark, #colors, .light, #enterGlow, #innerWhite {
      height: 404px;
      width: 400px;
      margin-left: -202px;
      margin-bottom: -200px;
  }

  .darkImg, .lightImg {
    height: 404px;
    width: 400px;
  }

  #page1, #page2, #hello2 , #text{
    margin-top: 20px;
    font-size: 1.35em;
  }

  .textContainer h3{
    position: relative;
    top: 25%;
    transform: translateY(15%);
  }

  #text {
    transform: translateY(75vh);
  }
}

#page2 {
  color: white;
  z-index: 6;
  position: relative;
  text-align: center;
  display: none;
}

#play1 {
  position: fixed;
  z-index: 30;
  color: white;
}

#playPic {
  z-index: 30;
  position: fixed;
  display: block;
  top: 10%;
}

#hello2 {
  color: gold;
  z-index: 6;
  position: fixed;
  text-align: center;
  bottom: 10%;
  right: 25%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

table {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.titles {
  width: 100%;
}

#leftArrow {
  max-width: 100%;
  z-index: 25;
}

#leftArrowWrapper {
  position: fixed;
  bottom: 10%;
  z-index: 25;
  width: 13%;
  left: 5%;
  height: 40px;
}

.heavenImgs {
  
  z-index: 50;
  position: relative;
  opacity: 1.0;
  width: auto;
  height: 72vh;
  display: none;
  left: 20%;
}

.slideOutDown {
  animation: slideOutDown 2s both ease-in;
}

.slideInTop {
  animation: slideInTop 2s both ease-in;
}

.imgs {
  width: 100%;
}

.texts {
  width: 100%;
}

#white {
  animation-name: fade;
  animation-duration: 21.6s;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: 14;
  position: fixed;
  display: block;
}

@keyframes fade {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  33% {
    background-color: rgba(0, 0, 0, 1.0);
  }
  66% {
    background-color: rgba(255, 255, 255, 1.0);
  }
  99% {
    background-color: rgba(242, 58, 36, 1.0);
  }
  100% {
    
  }
}

#blossoming {
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 17;
  position: relative;

}

#creatorVoice {
  display: none;
}

p {
  text-align: center;
}

#jesusLordPic {
  height: 100vh;
  width: auto;
  position: relative;
  z-index: 16;
  display: none;
}

#heavenPic {
    z-index: 6;
  position: fixed;
  top: 5%;
  
  opacity: 1.0;
  width: auto;
  height: 72vh;
  margin: 0 auto;
  vertical-align: middle;
  display: none;
}

.nebulaAnimation {
  animation-name: nebulaAnimation;
  animation-duration: 9s;
  animation-timing-function: ease-out;
}

@keyframes nebulaAnimation {
  from {
    transform: scale(0.01);
  }
  to {
    transform: scale(1.0);
  }
}

#divineCompassion {
  z-index: 50;
  position: fixed;
}

#deitiesInCosmos {
  height: auto;
  width: 100vw;
  display: none;
  opacity: 1.0;
  position: relative;
  z-index: 15;
}

#halo {
  border-radius: 100%;
  box-shadow: 0px 0px 10px 10px white;
  z-index: 9;
  width: 200px;
  height: 200px;
  position: fixed;
  top: 50%;
  right: 50%;
  margin-top: -150px;
  margin-right: -100px;
  opacity: 1;
  display: none;
}

#falunRays {
  display: none;
  z-index: 5;
  position: fixed;
  width: 850px;
  height: 850px;
  top: 50%;
  right: 50%;
  margin-top: -433px;
  margin-right: -423px;
  opacity: 1.0;
}

#flash {
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 100;
  position: relative;
  display: none;
}

#theSummon {
  z-index: 19;
  position: fixed;
  bottom: 5%;
  left: 50%;
  margin-left: -341.5px;
  display: none;
}

#blackout {
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 5;
  position: relative;
  display: none;
}

#text2 {
  color: gold;
  opacity: 0.7;
  position: fixed;
  display: none;
  z-index: 43;
  left: 50%;
  margin-left: -215px;
  bottom: 5%;
  width: 40%;
}

#shan {
  position: fixed;
  z-index: 14;
  top: -1%;
  left: 50%;
  margin-left: -50px;
  height: auto;
  width: 100px;
  display: none;
}

#zhen {
  position: fixed;
  z-index: 14;
  top: 50%;
  left: 25%;
  margin-top: -71px;
  height: auto;
  width: 100px;
  display: none;
}

#ren {
  position: fixed;
  z-index: 14;
  top: 50%;
  right: 25%;
  margin-top: -71px;
  height: auto;
  width: 100px;
  display: none;
}

#zfRaysLeft {
  box-shadow: 0px 0px 10px 10px white;
  top: 50%;
  left: 25%;
  margin-left: -50px;
  margin-top: -125px;
  display: none;
}

#zfRaysTop {
  left: 50%;
  top: 50%;
  margin-top: -150px;
  margin-left: -100px;
  box-shadow: 0px 0px 5px 5px gold;
}

#zf {
  position: fixed;
  z-index: 14;
  bottom: 20%;
  width: 86px;
  height: 130px;
  left: 50%;
  margin-left: -43px;
  margin-bottom: 10px;
  box-shadow: 0px 0px 2px 2px rgba(233, 186, 49, 0.7);
  display: none;
}

.zfRays {
  animation-name: zfRays;
  animation-iteration-count: infinite;
  animation-duration: 9s;

  position: fixed;
  z-index: 13;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  opacity: 0.7;
  display: none;
  
}

@keyframes zfRays {
  0% {
    background-color: red;
  }
  3.3% {
    background-color: orange; 
  }
  6.6%{
    background-color: yellow;
  }
  10% {
    background-color: #00ff00;
  }
  13.3%{
    background-color: #00ffff;
  }
  16.6% {
    background-color: #0000ff;
  }
  20% {
    background-color: #9900ff;
  } 
  23.3% {
    background-color: #ffccff;
  }
  26.7% {
   background-color: #ffffff;
  }
  30% {
    background-color: transparent;
  } 
  33.3% {
    background-color: red;
  }
  36.6% {
    background-color: orange; 
  }
  40%{
    background-color: yellow;
  }
  43.3% {
    background-color: #00ff00;
  }
  46.7%{
    background-color: #00ffff;
  }
  50% {
    background-color: #0000ff;
  }
  53.3% {
    background-color: #9900ff;
  } 
  56.6% {
    background-color: #ffccff;
  }
  60% {
   background-color: #ffffff;
  }
  63.3% {
    background-color: transparent;
  } 
  66.7% {
    background-color: red;
  }
  70% {
    background-color: orange;
  }
  73.3%{
    background-color: yellow;
  }
  76.6% {
    background-color: #00ff00;
  }
  80%{
    background-color: #00ffff;
  }
  83.3% {
    background-color: #0000ff;
  }
  86.7% {
    background-color: #9900ff;
  } 
  90% {
    background-color: #ffccff;
  }
  93.3% {
   background-color: #ffffff;
  }
  96.6% {
    background-color: transparent;
  } 
  100% {
    background-color: red;
  }
}

#hyperspace {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 25;
  display: none;
}

.upArrowGrow {
  transform: scale(1.2);
}

#upArrow {
  width: 1009;
  height: 137;
  top: 70%;
  right: 50%;
  margin-top: -68px;
  margin-right: -50px;
  position: fixed;
  z-index: 30;
  display: none;
}

.rippleImg {
  box-shadow: inset rgba(0, 0, 0, 0.6);
  width: 400px;
  height: 400px;
  z-index: 6;
  position: fixed;
  top: 50%;
  right: 50%;
  margin-top: -200px;
  margin-right: -199px;
  opacity: 1.0;
  border-radius: 100%;
  opacity: 0.5;
}


@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

@keyframes slideOutDown {
    from    { transform:translateY(0%); }
    to      { transform: translateY(100%); }
}

@keyframes slideInTop {
    from    { transform:translateY(-100%); }
    to      { transform: translateY(0%); }
}

@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

#bgOne {
  position: relative;
  width: 100vw;
  z-index: 5;
}