.hello {
  color: gold;
  z-index: 6;
  position: relative;
  text-align: center;
  transform: translateY(150%);
  display: none;
}

table {
  width: 50%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.titles {
  width: 100%;
}

#leftArrow {
  max-width: 100%;
}

#leftArrowWrapper {
  position: fixed;
  bottom: 10%;
  z-index: 12;
  width: 13%;
  left: 15%;
  height: 40px;
}

.heavenImgs {
  
  z-index: 6;
  position: fixed;
  top: 5%;
  
  opacity: 0.8;
  width: 640px;
  height: auto;
  margin: 0 auto;
  vertical-align: middle;
  display: none;
}

.imgs {
  width: 100%;
}

#white {
  animation-name: fade;
  animation-duration: 21.6s;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: 14;
  position: fixed;
  display: block;
}

@keyframes fade {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  33% {
    background-color: rgba(0, 0, 0, 1.0);
  }
  66% {
    background-color: rgba(255, 255, 255, 1.0);
  }
  99% {
    background-color: rgba(242, 58, 36, 1.0);
  }
  100% {
    
  }
}

#blossoming {
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 15;
  position: relative;

}

#creatorVoice {
  display: none;
}

p {
  text-align: center;
}