audio {
  z-index: 7;
}

#bg {
  background: url('../img/masterLi.png') no-repeat center center;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  opacity: 0.9;
  z-index: 6;
  position: absolute;
}

.background {
  
  opacity: 0.7;
  
  z-index: 6;
  position: absolute;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -ms-grab;
  cursor: -o-grab;
}



.hidden {
  visibility: hidden;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

#colors {
  z-index: 7;
  position: fixed;
  border-radius: 100%;
  left: 50%;
  margin-left: -152px;
  bottom: 50%;
  margin-bottom: -150px;
  height: 303px;
  width: 300px;
  opacity: 0.5;
}

#dark {
  z-index: 8;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  border-radius: 100%;
  left: 50%;
  margin-left: -152px;
  bottom: 50%;
  margin-bottom: -150px;
  height: 303px;
  width: 300px;
}

#enterGlow {
  position: fixed;
  border-radius: 100%;
  left: 50%;
  margin-left: -152px;
  bottom: 50%;
  margin-bottom: -150px;
  height: 303px;
  width: 300px;
  transform: translateZ(0);
  z-index: 5;
}

#innerWhite {
  background-color: white;
  position: fixed;
  border-radius: 100%;
  bottom: 50%;
  margin-bottom: -150px;
  left: 50%;
  margin-left: -152px;
  height: 303px;
  width: 300px;
  transform: translateZ(0);
  z-index: 4;
}

#rightArrow {
  max-width: 100%;
  z-index: 25;
}

#beginButton {
  position: fixed;
  bottom: 10%;
  z-index: 25;
  width: 13%;
  left: 81%;
  height: 40px;
}

#fingersWrapper {
  width: 100%;
}

#fingers {
  z-index: 6;
  position: fixed;
  left: 37%;
  display: none;
}


#text {
  z-index: 6;
  color: gold;
  opacity: 0.7;
  position: relative;  
  width: 40%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(250px);
}

a:link {
  color: skyblue;
}

a:visited {
  color: magenta;
}

#intro {
  text-align: center;
}


body {
  min-height: 300vh;
  min-width: 100vw;
  overflow: hidden;
}

.content {
  position: absolute;
  height: 100%;
  width: 100%;

}

p {
  text-align: center;
}

#wrapper {
  height: 100%;
  width: 100%;
}

#falunArea {
   vertical-align: middle;
   text-align: center;
}

.dark, .light {
  position: fixed;
  border-radius: 100%;
  left: 50%;
  margin-left: -152px;
  bottom: 50%;
  margin-bottom: -150px;
  height: 303px;
  width: 300px;
  transform: translateZ(0);
  z-index: 9;
  opacity: 0.5;
}

.enter {
  animation-name: enter;
  -webkit-animation-name: enter;
  -moz-animation-name: enter;
  -ms-animation-name: enter;
  -o-animation-name: enter;
  
  animation-duration: 21.7s;
  -webkit-animation-duration: 21.7s;
  -moz-animation-duration: 21.7s;
  -ms-animation-duration: 21.7s;
  -o-animation-duration: 21.7s;

  animation-timing-function: ease-out;  
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
}

@keyframes enter {
  0% {
    transform: scale(0.3)  translateX(-30%) translateY(30%);
    opacity: 0.2;
  }
  23.3% {
    transform: scale(1.03) translateX(2%) translateY(-2%);
  }
  30% {
    transform: scale(1.0)  translateX(0%) translateY(0%);    
    opacity: 1;   
  } 
  100% {
    opacity: 1;
  }   
}

@-webkit-keyframes enter {
  0% {
    -webkit-transform: scale(0.3)  translateX(-30%) translateY(30%);
    opacity: 0.2;
  }
  23.3% {
    -webkit-transform: scale(1.03) translateX(2%) translateY(-2%);
  }
  30% {
    -webkit-transform: scale(1.0)  translateX(0%) translateY(0%);    
    opacity: 1;   
  } 
  100% {
    -webkit-transform: scale(1.0)  translateX(0%) translateY(0%);    
  }   
}

@-moz-keyframes enter {
  0% {
    -moz-transform: scale(0.3)  translateX(-30%) translateY(30%);
    opacity: 0.2;
  }
  23.3% {
    -moz-transform: scale(1.03) translateX(2%) translateY(-2%);
  }
  30% {
    -moz-transform: scale(1.0)  translateX(0%) translateY(0%);    
    opacity: 1;   
  } 
  100% {
    -moz-transform: scale(1.0)  translateX(0%) translateY(0%);    
  }   
}

@-ms-keyframes enter {
  0% {
    -ms-transform: scale(0.3)  translateX(-30%) translateY(30%);
    opacity: 0.2;
  }
  23.3% {
    -ms-transform: scale(1.03) translateX(2%) translateY(-2%);
  }
  30% {
    -ms-transform: scale(1.0)  translateX(0%) translateY(0%);    
    opacity: 1;   
  } 
  100% {
    -ms-transform: scale(1.0)  translateX(0%) translateY(0%);    
  }   
}

@-o-keyframes enter {
  0% {
    -o-transform: scale(0.3)  translateX(-30%) translateY(30%);
    opacity: 0.2;
  }
  23.3% {
    -o-transform: scale(1.03) translateX(2%) translateY(-2%);
  }
  30% {
    -o-transform: scale(1.0)  translateX(0%) translateY(0%);    
    opacity: 1;   
  } 
  100% {
    -o-transform: scale(1.0)  translateX(0%) translateY(0%);    
  }   
}

.enterGlow {
  animation-name: enterGlow;
  -webkit-animation-name: enterGlow;
  -moz-animation-name: enterGlow;
  -ms-animation-name: enterGlow;
  -o-animation-name: enterGlow;

  animation-duration: 21.7s;
  -webkit-animation-duration: 21.7s;
  -moz-animation-duration: 21.7s;
  -ms-animation-duration: 21.7s;
  -o-animation-duration: 21.7s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  
  animation-fill-mode: forwards;  
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}

@keyframes enterGlow {
  0% {
    transform: scale(0.3)  translateX(-30%) translateY(30%);
    opacity: 0.2;
    box-shadow: 0px 0px 89px rgba(255, 255, 255, 0.5);
  }
  23.3% {
    transform: scale(1.03) translateX(2%) translateY(-2%);
    opacity: 1;
  }
  30% {
    transform: scale(1.0)  translateX(0%) translateY(0%);     
    opacity: 1;   
  } 
  100% {
    transform: scale(1.0)  translateX(0%) translateY(0%);
    box-shadow: 0px 0px 89px 75vh white;
  }   
}

@-webkit-keyframes enterGlow {
  0% {
    -webkit-transform: scale(0.3)  translateX(-30%) translateY(30%);
    opacity: 0.2;
    box-shadow: 0px 0px 89px rgba(255, 255, 255, 0.5);
  }
  23.3% {
    -webkit-transform: scale(1.03) translateX(2%) translateY(-2%);
    opacity: 1;
  }
  30% {
    -webkit-transform: scale(1.0)  translateX(0%) translateY(0%);     
    opacity: 1;   
  } 
  100% {
    -webkit-transform: scale(1.0)  translateX(0%) translateY(0%);
    box-shadow: 0px 0px 89px 75vh white;
  }   
}

@-moz-keyframes enterGlow {
  0% {
    -moz-transform: scale(0.3)  translateX(-30%) translateY(30%);
    opacity: 0.2;
    box-shadow: 0px 0px 89px rgba(255, 255, 255, 0.5);
  }
  23.3% {
    -moz-transform: scale(1.03) translateX(2%) translateY(-2%);
    opacity: 1;
  }
  30% {
    -moz-transform: scale(1.0)  translateX(0%) translateY(0%);     
    opacity: 1;   
  } 
  100% {
    -moz-transform: scale(1.0)  translateX(0%) translateY(0%);
    box-shadow: 0px 0px 89px 75vh white;
  }   
}

@-o-keyframes enterGlow {
  0% {
    -o-transform: scale(0.3)  translateX(-30%) translateY(30%);
    opacity: 0.2;
    box-shadow: 0px 0px 89px rgba(255, 255, 255, 0.5);
  }
  23.3% {
    -o-transform: scale(1.03) translateX(2%) translateY(-2%);
    opacity: 1;
  }
  30% {
    -o-transform: scale(1.0)  translateX(0%) translateY(0%);     
    opacity: 1;   
  } 
  100% {
    -o-transform: scale(1.0)  translateX(0%) translateY(0%);
    box-shadow: 0px 0px 89px 75vh white;
  }   
}

.stayColors {
  /*box-shadow: 0px 0px 30px 30px rgba(0, 0, 0, 0.6);*/
  animation-name: stayColors;
  -webkit-animation-name: stayColors;
  -moz-animation-name: stayColors;
  -ms-animation-name: stayColors;
  -o-animation-name: stayColors;

  animation-duration: 21.7s;
  -webkit-animation-duration: 21.7s;
  -moz-animation-duration: 21.7s;
  -ms-animation-duration: 21.7s;
  -o-animation-duration: 21.7s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  
  animation-fill-mode: forwards;     
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
}

.enterColors{
  animation-name: enterColors;
  -webkit-animation-name: enterColors;
  -moz-animation-name: enterColors;
  -ms-animation-name: enterColors;
  -o-animation-name: enterColors;

  animation-duration: 21.7s;
  -webkit-animation-duration: 21.7s;
  -moz-animation-duration: 21.7s;
  -ms-animation-duration: 21.7s;
  -o-animation-duration: 21.7s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  
  animation-fill-mode: forwards;     
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}

@keyframes stayColors {
  0% {
    background-color: red;
  }
  3.3% {
    background-color: orange; 
  }
  6.6%{
    background-color: yellow;
  }
  10% {
    background-color: #00ff00;
  }
  13.3%{
    background-color: #00ffff;
  }
  16.6% {
    background-color: #0000ff;
  }
  20% {
    background-color: #9900ff;
  } 
  23.3% {
    background-color: #ffccff;
  }
  26.7% {
   background-color: #ffffff;
  }
  30% {
    background-color: transparent;
  } 
  33.3% {
    background-color: red;
  }
  36.6% {
    background-color: orange; 
  }
  40%{
    background-color: yellow;
  }
  43.3% {
    background-color: #00ff00;
  }
  46.7%{
    background-color: #00ffff;
  }
  50% {
    background-color: #0000ff;
  }
  53.3% {
    background-color: #9900ff;
  } 
  56.6% {
    background-color: #ffccff;
  }
  60% {
   background-color: #ffffff;
  }
  63.3% {
    background-color: transparent;
  } 
  66.7% {
    background-color: red;
  }
  70% {
    background-color: orange;
  }
  73.3%{
    background-color: yellow;
  }
  76.6% {
    background-color: #00ff00;
  }
  80%{
    background-color: #00ffff;
  }
  83.3% {
    background-color: #0000ff;
  }
  86.7% {
    background-color: #9900ff;
  } 
  90% {
    background-color: #ffccff;
  }
  93.3% {
   background-color: #ffffff;
  }
  96.6% {
    background-color: transparent;
  } 
  100% {
    background-color: red;
  }   
}

@keyframes enterColors {
  0% {
    transform: scale(0.3)  translateX(-30%) translateY(30%);
    background-color: red;
    opacity: 0.2;
  }
  3.3% {
    background-color: orange; 
  }
  6.6%{
    background-color: yellow;
  }
  10% {
    background-color: #00ff00;
  }
  13.3%{
    background-color: #00ffff;
  }
  16.6% {
    background-color: #0000ff;
  }
  20% {
    background-color: #9900ff;
  } 
  23.3% {
    transform: scale(1.03) translateX(2%) translateY(-2%);
    background-color: #ffccff;
  }
  26.7% {
   background-color: #ffffff;
  }
  30% {
    transform: scale(1.0)  translateX(0%) translateY(0%);
    background-color: transparent;
    opacity: 1.0;
  } 
  33.3% {
    background-color: red;
  }
  36.6% {
    background-color: orange; 
  }
  40%{
    background-color: yellow;
  }
  43.3% {
    background-color: #00ff00;
  }
  46.7%{
    background-color: #00ffff;
  }
  50% {
    background-color: #0000ff;
  }
  53.3% {
    background-color: #9900ff;
  } 
  56.6% {
    background-color: #ffccff;
  }
  60% {
   background-color: #ffffff;
  }
  63.3% {
    background-color: transparent;
  } 
  66.7% {
    background-color: red;
  }
  70% {
    background-color: orange;
    opacity: 1; 
  }
  73.3%{
    background-color: yellow;
  }
  76.6% {
    background-color: #00ff00;
  }
  80%{
    background-color: #00ffff;
  }
  83.3% {
    background-color: #0000ff;
  }
  86.7% {
    background-color: #9900ff;
  } 
  90% {
    background-color: #ffccff;
  }
  93.3% {
   background-color: #ffffff;
  }
  96.6% {
    background-color: transparent;
  } 
  100% {
    background-color: red;
    transform: scale(1.0)  translateX(0%) translateY(0%);
  }   
}

@-webkit-keyframes enterColors {
  0% {
    -webkit-transform: scale(0.3)  translateX(-30%) translateY(30%);
    background-color: red;
    opacity: 0.2;
  }
  3.3% {
    background-color: orange; 
  }
  6.6%{
    background-color: yellow;
  }
  10% {
    background-color: #00ff00;
  }
  13.3%{
    background-color: #00ffff;
  }
  16.6% {
    background-color: #0000ff;
  }
  20% {
    background-color: #9900ff;
  } 
  23.3% {
    -webkit-transform: scale(1.03) translateX(2%) translateY(-2%);
    background-color: #ffccff;
  }
  26.7% {
   background-color: #ffffff;
  }
  30% {
    -webkit-transform: scale(1.0)  translateX(0%) translateY(0%);
    background-color: transparent;
    opacity: 1.0;
  } 
  33.3% {
    background-color: red;
  }
  36.6% {
    background-color: orange; 
  }
  40%{
    background-color: yellow;
  }
  43.3% {
    background-color: #00ff00;
  }
  46.7%{
    background-color: #00ffff;
  }
  50% {
    background-color: #0000ff;
  }
  53.3% {
    background-color: #9900ff;
  } 
  56.6% {
    background-color: #ffccff;
  }
  60% {
   background-color: #ffffff;
  }
  63.3% {
    background-color: transparent;
  } 
  66.7% {
    background-color: red;
  }
  70% {
    background-color: orange;
    opacity: 1; 
  }
  73.3%{
    background-color: yellow;
  }
  76.6% {
    background-color: #00ff00;
  }
  80%{
    background-color: #00ffff;
  }
  83.3% {
    background-color: #0000ff;
  }
  86.7% {
    background-color: #9900ff;
  } 
  90% {
    background-color: #ffccff;
  }
  93.3% {
   background-color: #ffffff;
  }
  96.6% {
    background-color: transparent;
  } 
  100% {
    background-color: red;
    -webkit-transform: scale(1.0)  translateX(0%) translateY(0%);
  }   
}

@-moz-keyframes enterColors {
  0% {
    -moz-transform: scale(0.3)  translateX(-30%) translateY(30%);
    background-color: red;
    opacity: 0.2;
  }
  3.3% {
    background-color: orange; 
  }
  6.6%{
    background-color: yellow;
  }
  10% {
    background-color: #00ff00;
  }
  13.3%{
    background-color: #00ffff;
  }
  16.6% {
    background-color: #0000ff;
  }
  20% {
    background-color: #9900ff;
  } 
  23.3% {
    -moz-transform: scale(1.03) translateX(2%) translateY(-2%);
    background-color: #ffccff;
  }
  26.7% {
   background-color: #ffffff;
  }
  30% {
    -moz-transform: scale(1.0)  translateX(0%) translateY(0%);
    background-color: transparent;
    opacity: 1.0;
  } 
  33.3% {
    background-color: red;
  }
  36.6% {
    background-color: orange; 
  }
  40%{
    background-color: yellow;
  }
  43.3% {
    background-color: #00ff00;
  }
  46.7%{
    background-color: #00ffff;
  }
  50% {
    background-color: #0000ff;
  }
  53.3% {
    background-color: #9900ff;
  } 
  56.6% {
    background-color: #ffccff;
  }
  60% {
   background-color: #ffffff;
  }
  63.3% {
    background-color: transparent;
  } 
  66.7% {
    background-color: red;
  }
  70% {
    background-color: orange;
    opacity: 1; 
  }
  73.3%{
    background-color: yellow;
  }
  76.6% {
    background-color: #00ff00;
  }
  80%{
    background-color: #00ffff;
  }
  83.3% {
    background-color: #0000ff;
  }
  86.7% {
    background-color: #9900ff;
  } 
  90% {
    background-color: #ffccff;
  }
  93.3% {
   background-color: #ffffff;
  }
  96.6% {
    background-color: transparent;
  } 
  100% {
    background-color: red;
    -moz-transform: scale(1.0)  translateX(0%) translateY(0%);
  }   
}

@-ms-keyframes enterColors {
  0% {
    -ms-transform: scale(0.3)  translateX(-30%) translateY(30%);
    background-color: red;
    opacity: 0.2;
  }
  3.3% {
    background-color: orange; 
  }
  6.6%{
    background-color: yellow;
  }
  10% {
    background-color: #00ff00;
  }
  13.3%{
    background-color: #00ffff;
  }
  16.6% {
    background-color: #0000ff;
  }
  20% {
    background-color: #9900ff;
  } 
  23.3% {
    -ms-transform: scale(1.03) translateX(2%) translateY(-2%);
    background-color: #ffccff;
  }
  26.7% {
   background-color: #ffffff;
  }
  30% {
    -ms-transform: scale(1.0)  translateX(0%) translateY(0%);
    background-color: transparent;
    opacity: 1.0;
  } 
  33.3% {
    background-color: red;
  }
  36.6% {
    background-color: orange; 
  }
  40%{
    background-color: yellow;
  }
  43.3% {
    background-color: #00ff00;
  }
  46.7%{
    background-color: #00ffff;
  }
  50% {
    background-color: #0000ff;
  }
  53.3% {
    background-color: #9900ff;
  } 
  56.6% {
    background-color: #ffccff;
  }
  60% {
   background-color: #ffffff;
  }
  63.3% {
    background-color: transparent;
  } 
  66.7% {
    background-color: red;
  }
  70% {
    background-color: orange;
    opacity: 1; 
  }
  73.3%{
    background-color: yellow;
  }
  76.6% {
    background-color: #00ff00;
  }
  80%{
    background-color: #00ffff;
  }
  83.3% {
    background-color: #0000ff;
  }
  86.7% {
    background-color: #9900ff;
  } 
  90% {
    background-color: #ffccff;
  }
  93.3% {
   background-color: #ffffff;
  }
  96.6% {
    background-color: transparent;
  } 
  100% {
    background-color: red;
    -ms-transform: scale(1.0)  translateX(0%) translateY(0%);
  }   
}

@-o-keyframes enterColors {
  0% {
    -o-transform: scale(0.3)  translateX(-30%) translateY(30%);
    background-color: red;
    opacity: 0.2;
  }
  3.3% {
    background-color: orange; 
  }
  6.6%{
    background-color: yellow;
  }
  10% {
    background-color: #00ff00;
  }
  13.3%{
    background-color: #00ffff;
  }
  16.6% {
    background-color: #0000ff;
  }
  20% {
    background-color: #9900ff;
  } 
  23.3% {
    -o-transform: scale(1.03) translateX(2%) translateY(-2%);
    background-color: #ffccff;
  }
  26.7% {
   background-color: #ffffff;
  }
  30% {
    -o-transform: scale(1.0)  translateX(0%) translateY(0%);
    background-color: transparent;
    opacity: 1.0;
  } 
  33.3% {
    background-color: red;
  }
  36.6% {
    background-color: orange; 
  }
  40%{
    background-color: yellow;
  }
  43.3% {
    background-color: #00ff00;
  }
  46.7%{
    background-color: #00ffff;
  }
  50% {
    background-color: #0000ff;
  }
  53.3% {
    background-color: #9900ff;
  } 
  56.6% {
    background-color: #ffccff;
  }
  60% {
   background-color: #ffffff;
  }
  63.3% {
    background-color: transparent;
  } 
  66.7% {
    background-color: red;
  }
  70% {
    background-color: orange;
    opacity: 1; 
  }
  73.3%{
    background-color: yellow;
  }
  76.6% {
    background-color: #00ff00;
  }
  80%{
    background-color: #00ffff;
  }
  83.3% {
    background-color: #0000ff;
  }
  86.7% {
    background-color: #9900ff;
  } 
  90% {
    background-color: #ffccff;
  }
  93.3% {
   background-color: #ffffff;
  }
  96.6% {
    background-color: transparent;
  } 
  100% {
    background-color: red;
    -o-transform: scale(1.0)  translateX(0%) translateY(0%);
  }   
}

.enterInnerWhite {
  animation-name: enterInnerWhite;
  -webkit-animation-name: enterInnerWhite;
  -moz-animation-name: enterInnerWhite;
  -ms-animation-name: enterInnerWhite;
  -o-animation-name: enterInnerWhite;

  animation-duration: 21.7s;
  -webkit-animation-duration: 21.7s;
  -moz-animation-duration: 21.7s;
  -ms-animation-duration: 21.7s;
  -o-animation-duration: 21.7s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  
  animation-fill-mode: forwards;     
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwar
}

@keyframes enterInnerWhite {
  0% {
    transform: scale(0.3)  translateX(-30%) translateY(30%);
    opacity: 0.5;
  }
  23.3% {
    transform: scale(1.03) translateX(2%) translateY(-2%);
  }
  30% {
    transform: scale(1.0)  translateX(0%) translateY(0%);    
      
  } 
  100% {
    opacity: 1;
  }   
}

@-webkit-keyframes enterInnerWhite {
  0% {
    -webkit-transform: scale(0.3)  translateX(-30%) translateY(30%);
    opacity: 0.5;
  }
  23.3% {
    -webkit-transform: scale(1.03) translateX(2%) translateY(-2%);
  }
  30% {
    -webkit-transform: scale(1.0)  translateX(0%) translateY(0%);    
      
  } 
  100% {
    -webkit-transform: scale(1.0)  translateX(0%) translateY(0%);    
  }   
}

@-moz-keyframes enterInnerWhite {
  0% {
    -moz-transform: scale(0.3)  translateX(-30%) translateY(30%);
    opacity: 0.5;
  }
  23.3% {
    -moz-transform: scale(1.03) translateX(2%) translateY(-2%);
  }
  30% {
    -moz-transform: scale(1.0)  translateX(0%) translateY(0%);    
      
  } 
  100% {
    -moz-transform: scale(1.0)  translateX(0%) translateY(0%);    
  }   
}

@-ms-keyframes enterInnerWhite {
  0% {
    -ms-transform: scale(0.3)  translateX(-30%) translateY(30%);
    opacity: 0.5;
  }
  23.3% {
    -ms-transform: scale(1.03) translateX(2%) translateY(-2%);
  }
  30% {
    -ms-transform: scale(1.0)  translateX(0%) translateY(0%);    
      
  } 
  100% {
    -ms-transform: scale(1.0)  translateX(0%) translateY(0%);    
  }   
}

@-o-keyframes enterInnerWhite {
  0% {
    -o-transform: scale(0.3)  translateX(-30%) translateY(30%);
    opacity: 0.5;
  }
  23.3% {
    -o-transform: scale(1.03) translateX(2%) translateY(-2%);
  }
  30% {
    -o-transform: scale(1.0)  translateX(0%) translateY(0%);    
      
  } 
  100% {
    -o-transform: scale(1.0)  translateX(0%) translateY(0%);    
  }   
}

.pulseInInnerWhite {
  animation-name: pulseInInnerWhite;
  -webkit-animation-name: pulseInInnerWhite;
  -moz-animation-name: pulseInInnerWhite;
  -ms-animation-name: pulseInInnerWhite;
  -o-animation-name: pulseInInnerWhite;
  
  animation-duration: 21.7s;
  -webkit-animation-duration: 21.7s;
  -moz-animation-duration: 21.7s;
  -ms-animation-duration: 21.7s;
  -o-animation-duration: 21.7s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}

@keyframes pulseInInnerWhite {
  from {
    transform: scale(1.0);
    opacity: 1.0;
  }
  to {
    transform: scale(0.3);
    opacity: 0.5;
  }
}

@-webkit-keyframes pulseInInnerWhite{
  from {
    -webkit-transform: scale(1.0);
    opacity: 1.0;
  }
  to {
    -webkit-transform: scale(0.3);
    opacity: 0.5;
  }
}

@-moz-keyframes pulseInInnerWhite {
  from {
    -moz-transform: scale(1.0);
    opacity: 1.0;
  }
  to {
    -moz-transform: scale(0.3);
    opacity: 0.5;
  }
}

@-ms-keyframes pulseInInnerWhite {
  from {
    -ms-transform: scale(1.0);
    opacity: 1.0;
  }
  to {
    -ms-transform: scale(0.3);
    opacity: 0.5;
  }
}

@-o-keyframes pulseInInnerWhite {
  from {
    -o-transform: scale(1.0);
    opacity: 1.0;
  }
  to {
    -o-transform: scale(0.3);
    opacity: 0.5;
  }
}

.pulseIn {
  animation-name: pulseIn;
  -webkit-animation-name: pulseIn;
  -moz-animation-name: pulseIn;
  -ms-animation-name: pulseIn;
  -o-animation-name: pulseIn;
  
  animation-duration: 21.7s;
  -webkit-animation-duration: 21.7s;
  -moz-animation-duration: 21.7s;
  -ms-animation-duration: 21.7s;
  -o-animation-duration: 21.7s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}

@keyframes pulseIn {
  from {
    transform: scale(1.0);
  }
  to {
    transform: scale(0.3);
  }
}

@-webkit-keyframes pulseIn {
  from {
    -webkit-transform: scale(1.0);
  }
  to {
    -webkit-transform: scale(0.3);
  }
}

@-moz-keyframes pulseIn {
  from {
    -moz-transform: scale(1.0);
  }
  to {
    -moz-transform: scale(0.3);
  }
}

@-ms-keyframes pulseIn {
  from {
    -ms-transform: scale(1.0);
  }
  to {
    -ms-transform: scale(0.3);
  }
}

@-o-keyframes pulseIn {
  from {
    -o-transform: scale(1.0);
  }
  to {
    -o-transform: scale(0.3);
  }
}

.pulseInGlow {
  animation-name: pulseInGlow;
  -webkit-animation-name: pulseInGlow;
  -moz-animation-name: pulseInGlow;
  -ms-animation-name: pulseInGlow;
  -o-animation-name: pulseInGlow;

  animation-duration: 21.7s;
  -webkit-animation-duration: 21.7s;
  -moz-animation-duration: 21.7s;
  -ms-animation-duration: 21.7s;
  -o-animation-duration: 21.7s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}

@keyframes pulseInGlow {
  from {
    transform: scale(1.0);
    box-shadow: 0px 0px 89px 75vh white;
  }
  to {
    transform: scale(0.3);
    box-shadow: 0px 0px 89px rgba(255, 255, 255, 0.5);
  }
}

@-webkit-keyframes pulseInGlow {
  from {
    -webkit-transform: scale(1.0);
    box-shadow: 0px 0px 89px 75vh white;
  }
  to {
    -webkit-transform: scale(0.3);
    box-shadow: 0px 0px 89px rgba(255, 255, 255, 0.5);
  }
}

@-moz-keyframes pulseInGlow {
  from {
    -moz-transform: scale(1.0);
    box-shadow: 0px 0px 89px 75vh white;
  }
  to {
    -moz-transform: scale(0.3);
    box-shadow: 0px 0px 89px rgba(255, 255, 255, 0.5);
  }
}

@-ms-keyframes pulseInGlow {
  from {
    -ms-transform: scale(1.0);
    box-shadow: 0px 0px 89px 75vh white;
  }
  to {
    -ms-transform: scale(0.3);
    box-shadow: 0px 0px 89px rgba(255, 255, 255, 0.5);
  }
}

@-o-keyframes pulseInGlow {
  from {
    -o-transform: scale(1.0);
    box-shadow: 0px 0px 89px 75vh white;
  }
  to {
    -o-transform: scale(0.3);
    box-shadow: 0px 0px 89px rgba(255, 255, 255, 0.5);
  }
}

.pulseInColor {
  animation-name: pulseInColor;
  -webkit-animation-name: pulseInColor;
  -moz-animation-name: pulseInColor;
  -ms-animation-name: pulseInColor;
  -o-animation-name: pulseInColor;

  animation-duration: 21.7s;
  -webkit-animation-duration: 21.7s;
  -moz-animation-duration: 21.7s;
  -ms-animation-duration: 21.7s;
  -o-animation-duration: 21.7s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;
  
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}

@keyframes pulseInColor {
  0% {
    background-color: red;
    transform: scale(1.0);
  }
  3.3% {
    background-color: orange; 
  }
  6.6%{
    background-color: yellow;
  }
  10% {
    background-color: #00ff00;
  }
  13.3%{
    background-color: #00ffff;
  }
  16.6% {
    background-color: #0000ff;
  }
  20% {
    background-color: #9900ff;
  } 
  23.3% {
    background-color: #ffccff;
  }
  26.7% {
   background-color: #ffffff;
  }
  30% {
    background-color: transparent;
  } 
  33.3% {
    background-color: red;
  }
  36.6% {
    background-color: orange; 
  }
  40%{
    background-color: yellow;
  }
  43.3% {
    background-color: #00ff00;
  }
  46.7%{
    background-color: #00ffff;
  }
  50% {
    background-color: #0000ff;
  }
  53.3% {
    background-color: #9900ff;
  } 
  56.6% {
    background-color: #ffccff;
  }
  60% {
   background-color: #ffffff;
  }
  63.3% {
    background-color: transparent;
  } 
  66.7% {
    background-color: red;
  }
  70% {
    background-color: orange; 
  }
  73.3%{
    background-color: yellow;
  }
  76.6% {
    background-color: #00ff00;
  }
  80%{
    background-color: #00ffff;
  }
  83.3% {
    background-color: #0000ff;
  }
  86.7% {
    background-color: #9900ff;
  } 
  90% {
    background-color: #ffccff;
  }
  93.3% {
   background-color: #ffffff;
  }
  96.6% {
    background-color: transparent;
  } 
  100% {
    background-color: red;
    transform: scale(0.3);
  }
}

@-webkit-keyframes pulseInColor {
  0% {
    background-color: red;
    -webkit-transform: scale(1.0);
  }
  3.3% {
    background-color: orange; 
  }
  6.6%{
    background-color: yellow;
  }
  10% {
    background-color: #00ff00;
  }
  13.3%{
    background-color: #00ffff;
  }
  16.6% {
    background-color: #0000ff;
  }
  20% {
    background-color: #9900ff;
  } 
  23.3% {
    background-color: #ffccff;
  }
  26.7% {
   background-color: #ffffff;
  }
  30% {
    background-color: transparent;
  } 
  33.3% {
    background-color: red;
  }
  36.6% {
    background-color: orange; 
  }
  40%{
    background-color: yellow;
  }
  43.3% {
    background-color: #00ff00;
  }
  46.7%{
    background-color: #00ffff;
  }
  50% {
    background-color: #0000ff;
  }
  53.3% {
    background-color: #9900ff;
  } 
  56.6% {
    background-color: #ffccff;
  }
  60% {
   background-color: #ffffff;
  }
  63.3% {
    background-color: transparent;
  } 
  66.7% {
    background-color: red;
  }
  70% {
    background-color: orange; 
  }
  73.3%{
    background-color: yellow;
  }
  76.6% {
    background-color: #00ff00;
  }
  80%{
    background-color: #00ffff;
  }
  83.3% {
    background-color: #0000ff;
  }
  86.7% {
    background-color: #9900ff;
  } 
  90% {
    background-color: #ffccff;
  }
  93.3% {
   background-color: #ffffff;
  }
  96.6% {
    background-color: transparent;
  } 
  100% {
    background-color: red;
    -webkit-transform: scale(0.3);
  }
}

@-moz-keyframes pulseInColor {
  0% {
    background-color: red;
    -moz-transform: scale(1.0);
  }
  3.3% {
    background-color: orange; 
  }
  6.6%{
    background-color: yellow;
  }
  10% {
    background-color: #00ff00;
  }
  13.3%{
    background-color: #00ffff;
  }
  16.6% {
    background-color: #0000ff;
  }
  20% {
    background-color: #9900ff;
  } 
  23.3% {
    background-color: #ffccff;
  }
  26.7% {
   background-color: #ffffff;
  }
  30% {
    background-color: transparent;
  } 
  33.3% {
    background-color: red;
  }
  36.6% {
    background-color: orange; 
  }
  40%{
    background-color: yellow;
  }
  43.3% {
    background-color: #00ff00;
  }
  46.7%{
    background-color: #00ffff;
  }
  50% {
    background-color: #0000ff;
  }
  53.3% {
    background-color: #9900ff;
  } 
  56.6% {
    background-color: #ffccff;
  }
  60% {
   background-color: #ffffff;
  }
  63.3% {
    background-color: transparent;
  } 
  66.7% {
    background-color: red;
  }
  70% {
    background-color: orange; 
  }
  73.3%{
    background-color: yellow;
  }
  76.6% {
    background-color: #00ff00;
  }
  80%{
    background-color: #00ffff;
  }
  83.3% {
    background-color: #0000ff;
  }
  86.7% {
    background-color: #9900ff;
  } 
  90% {
    background-color: #ffccff;
  }
  93.3% {
   background-color: #ffffff;
  }
  96.6% {
    background-color: transparent;
  } 
  100% {
    background-color: red;
    -moz-transform: scale(0.3);
  }
}

@-ms-keyframes pulseInColor {
  0% {
    background-color: red;
    -ms-transform: scale(1.0);
  }
  3.3% {
    background-color: orange; 
  }
  6.6%{
    background-color: yellow;
  }
  10% {
    background-color: #00ff00;
  }
  13.3%{
    background-color: #00ffff;
  }
  16.6% {
    background-color: #0000ff;
  }
  20% {
    background-color: #9900ff;
  } 
  23.3% {
    background-color: #ffccff;
  }
  26.7% {
   background-color: #ffffff;
  }
  30% {
    background-color: transparent;
  } 
  33.3% {
    background-color: red;
  }
  36.6% {
    background-color: orange; 
  }
  40%{
    background-color: yellow;
  }
  43.3% {
    background-color: #00ff00;
  }
  46.7%{
    background-color: #00ffff;
  }
  50% {
    background-color: #0000ff;
  }
  53.3% {
    background-color: #9900ff;
  } 
  56.6% {
    background-color: #ffccff;
  }
  60% {
   background-color: #ffffff;
  }
  63.3% {
    background-color: transparent;
  } 
  66.7% {
    background-color: red;
  }
  70% {
    background-color: orange; 
  }
  73.3%{
    background-color: yellow;
  }
  76.6% {
    background-color: #00ff00;
  }
  80%{
    background-color: #00ffff;
  }
  83.3% {
    background-color: #0000ff;
  }
  86.7% {
    background-color: #9900ff;
  } 
  90% {
    background-color: #ffccff;
  }
  93.3% {
   background-color: #ffffff;
  }
  96.6% {
    background-color: transparent;
  } 
  100% {
    background-color: red;
    -ms-transform: scale(0.3);
  }
}

@-o-keyframes pulseInColor {
  0% {
    background-color: red;
    -o-transform: scale(1.0);
  }
  3.3% {
    background-color: orange; 
  }
  6.6%{
    background-color: yellow;
  }
  10% {
    background-color: #00ff00;
  }
  13.3%{
    background-color: #00ffff;
  }
  16.6% {
    background-color: #0000ff;
  }
  20% {
    background-color: #9900ff;
  } 
  23.3% {
    background-color: #ffccff;
  }
  26.7% {
   background-color: #ffffff;
  }
  30% {
    background-color: transparent;
  } 
  33.3% {
    background-color: red;
  }
  36.6% {
    background-color: orange; 
  }
  40%{
    background-color: yellow;
  }
  43.3% {
    background-color: #00ff00;
  }
  46.7%{
    background-color: #00ffff;
  }
  50% {
    background-color: #0000ff;
  }
  53.3% {
    background-color: #9900ff;
  } 
  56.6% {
    background-color: #ffccff;
  }
  60% {
   background-color: #ffffff;
  }
  63.3% {
    background-color: transparent;
  } 
  66.7% {
    background-color: red;
  }
  70% {
    background-color: orange; 
  }
  73.3%{
    background-color: yellow;
  }
  76.6% {
    background-color: #00ff00;
  }
  80%{
    background-color: #00ffff;
  }
  83.3% {
    background-color: #0000ff;
  }
  86.7% {
    background-color: #9900ff;
  } 
  90% {
    background-color: #ffccff;
  }
  93.3% {
   background-color: #ffffff;
  }
  96.6% {
    background-color: transparent;
  } 
  100% {
    background-color: red;
    -o-transform: scale(0.3);
  }
}

.pulseOutInnerWhite {
  animation-name: pulseOutInnerWhite;
  -webkit-animation-name: pulseOutInnerWhite;
  -moz-animation-name: pulseOutInnerWhite;
  -ms-animation-name: pulseOutInnerWhite;
  -o-animation-name: pulseOutInnerWhite;

  animation-duration: 21.7s;
  -webkit-animation-duration: 21.7s;
  -moz-animation-duration: 21.7s;
  -ms-animation-duration: 21.7s;
  -o-animation-duration: 21.7s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;

  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}

@keyframes pulseOutInnerWhite {
  from {
    transform: scale(0.3);
    opacity: 0.5;
  }
  to {
    transform: scale(1.0);
    opacity: 1.0;
  }
}

@-webkit-keyframes pulseOutInnerWhite {
  from {
    -webkit-transform: scale(0.3);
    opacity: 0.5;
  }
  to {
    -webkit-transform: scale(1.0);
    opacity: 1.0;
  }
}

@-moz-keyframes pulseOutInnerWhite {
  from {
    -moz-transform: scale(0.3);
    opacity: 0.5;
  }
  to {
    -moz-transform: scale(1.0);
    opacity: 1.0;
  }
}

@-ms-keyframes pulseOutInnerWhite {
  from {
    -ms-transform: scale(0.3);
    opacity: 0.5;
  }
  to {
    -ms-transform: scale(1.0);
    opacity: 1.0;
  }
}

@-o-keyframes pulseOutInnerWhite {
  from {
    -o-transform: scale(0.3);
    opacity: 0.5;
  }
  to {
    -o-transform: scale(1.0);
    opacity: 1.0;
  }
}


.pulseOut {
  animation-name: pulseOut;
  -webkit-animation-name: pulseOut;
  -moz-animation-name: pulseOut;
  -ms-animation-name: pulseOut;
  -o-animation-name: pulseOut;

  animation-duration: 21.7s;
  -webkit-animation-duration: 21.7s;
  -moz-animation-duration: 21.7s;
  -ms-animation-duration: 21.7s;
  -o-animation-duration: 21.7s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;

  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
}

@keyframes pulseOut {
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1.0);
  }
}

@-webkit-keyframes pulseOut {
  from {
    -webkit-transform: scale(0.3);
  }
  to {
    -webkit-transform: scale(1.0);
  }
}

@-moz-keyframes pulseOut {
  from {
    -moz-transform: scale(0.3);
  }
  to {
    -moz-transform: scale(1.0);
  }
}

@-ms-keyframes pulseOut {
  from {
    -ms-transform: scale(0.3);
  }
  to {
    -ms-transform: scale(1.0);
  }
}

@-o-keyframes pulseOut {
  from {
    -o-transform: scale(0.3);
  }
  to {
    -o-transform: scale(1.0);
  }
}

.pulseOutGlow {
  animation-name: pulseOutGlow;
  -webkit-animation-name: pulseOutGlow;
  -moz-animation-name: pulseOutGlow;
  -ms-animation-name: pulseOutGlow;
  -o-animation-name: pulseOutGlow;

  animation-duration: 21.7s;
  -webkit-animation-duration: 21.7s;
  -moz-animation-duration: 21.7s;
  -ms-animation-duration: 21.7s;
  -o-animation-duration: 21.7s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;

  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;

}

@keyframes pulseOutGlow {
  from {
    transform: scale(0.3);
    box-shadow: 0px 0px 89px rgba(255, 255, 255, 0.5);
  }
  to {
    transform: scale(1.0);
    box-shadow: 0px 0px 89px 75vh #ffffff;
  }
}

@-webkit-keyframes pulseOutGlow {
  from {
    -webkit-transform: scale(0.3);
    box-shadow: 0px 0px 89px rgba(255, 255, 255, 0.5);
  }
  to {
    -webkit-transform: scale(1.0);
    box-shadow: 0px 0px 89px 75vh #ffffff;
  }
}

@-moz-keyframes pulseOutGlow {
  from {
    -moz-transform: scale(0.3);
    box-shadow: 0px 0px 89px rgba(255, 255, 255, 0.5);
  }
  to {
    -moz-transform: scale(1.0);
    box-shadow: 0px 0px 89px 75vh #ffffff;
  }
}

@-ms-keyframes pulseOutGlow {
  from {
    -ms-transform: scale(0.3);
    box-shadow: 0px 0px 89px rgba(255, 255, 255, 0.5);
  }
  to {
    -ms-transform: scale(1.0);
    box-shadow: 0px 0px 89px 75vh #ffffff;
  }
}

@-o-keyframes pulseOutGlow {
  from {
    -o-transform: scale(0.3);
    box-shadow: 0px 0px 89px rgba(255, 255, 255, 0.5);
  }
  to {
    -o-transform: scale(1.0);
    box-shadow: 0px 0px 89px 75vh #ffffff;
  }
}

.pulseOutColor {
  animation-name: pulseOutColor;
  -webkit-animation-name: pulseOutColor;
  -moz-animation-name: pulseOutColor;
  -ms-animation-name: pulseOutColor;
  -o-animation-name: pulseOutColor;

  animation-duration: 21.7s;
  -webkit-animation-duration: 21.7s;
  -moz-animation-duration: 21.7s;
  -ms-animation-duration: 21.7s;
  -o-animation-duration: 21.7s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;
  -moz-animation-timing-function: ease-out;
  -ms-animation-timing-function: ease-out;
  -o-animation-timing-function: ease-out;

  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;

}

@keyframes pulseOutColor {
  0% {
    background-color: red;
    transform: scale(0.3);
  }
  3.3% {
    background-color: orange; 
  }
  6.6%{
    background-color: yellow;
  }
  10% {
    background-color: #00ff00;
  }
  13.3%{
    background-color: #00ffff;
  }
  16.6% {
    background-color: #0000ff;
  }
  20% {
    background-color: #9900ff;
  } 
  23.3% {
    background-color: #ffccff;
  }
  26.7% {
   background-color: #ffffff;
  }
  30% {
    background-color: transparent;
  } 
  33.3% {
    background-color: red;
  }
  36.6% {
    background-color: orange; 
  }
  40%{
    background-color: yellow;
  }
  43.3% {
    background-color: #00ff00;
  }
  46.7%{
    background-color: #00ffff;
  }
  50% {
    background-color: #0000ff;
  }
  53.3% {
    background-color: #9900ff;
  } 
  56.6% {
    background-color: #ffccff;
  }
  60% {
   background-color: #ffffff;
  }
  63.3% {
    background-color: transparent;
  } 
  66.7% {
    background-color: red;
  }
  70% {
    background-color: orange; 
  }
  73.3%{
    background-color: yellow;
  }
  76.6% {
    background-color: #00ff00;
  }
  80%{
    background-color: #00ffff;
  }
  83.3% {
    background-color: #0000ff;
  }
  86.7% {
    background-color: #9900ff;
  } 
  90% {
    background-color: #ffccff;
  }
  93.3% {
   background-color: #ffffff;
  }
  96.6% {
    background-color: transparent;
  } 
  100% {
    background-color: red;
    transform: scale(1.0);
  }
}

@-webkit-keyframes pulseOutColor {
  0% {
    background-color: red;
    -webkit-transform: scale(0.3);
  }
  3.3% {
    background-color: orange; 
  }
  6.6%{
    background-color: yellow;
  }
  10% {
    background-color: #00ff00;
  }
  13.3%{
    background-color: #00ffff;
  }
  16.6% {
    background-color: #0000ff;
  }
  20% {
    background-color: #9900ff;
  } 
  23.3% {
    background-color: #ffccff;
  }
  26.7% {
   background-color: #ffffff;
  }
  30% {
    background-color: transparent;
  } 
  33.3% {
    background-color: red;
  }
  36.6% {
    background-color: orange; 
  }
  40%{
    background-color: yellow;
  }
  43.3% {
    background-color: #00ff00;
  }
  46.7%{
    background-color: #00ffff;
  }
  50% {
    background-color: #0000ff;
  }
  53.3% {
    background-color: #9900ff;
  } 
  56.6% {
    background-color: #ffccff;
  }
  60% {
   background-color: #ffffff;
  }
  63.3% {
    background-color: transparent;
  } 
  66.7% {
    background-color: red;
  }
  70% {
    background-color: orange; 
  }
  73.3%{
    background-color: yellow;
  }
  76.6% {
    background-color: #00ff00;
  }
  80%{
    background-color: #00ffff;
  }
  83.3% {
    background-color: #0000ff;
  }
  86.7% {
    background-color: #9900ff;
  } 
  90% {
    background-color: #ffccff;
  }
  93.3% {
   background-color: #ffffff;
  }
  96.6% {
    background-color: transparent;
  } 
  100% {
    background-color: red;
    -webkit-transform: scale(1.0);
  }
}

@-moz-keyframes pulseOutColor {
  0% {
    background-color: red;
    -moz-transform: scale(0.3);
  }
  3.3% {
    background-color: orange; 
  }
  6.6%{
    background-color: yellow;
  }
  10% {
    background-color: #00ff00;
  }
  13.3%{
    background-color: #00ffff;
  }
  16.6% {
    background-color: #0000ff;
  }
  20% {
    background-color: #9900ff;
  } 
  23.3% {
    background-color: #ffccff;
  }
  26.7% {
   background-color: #ffffff;
  }
  30% {
    background-color: transparent;
  } 
  33.3% {
    background-color: red;
  }
  36.6% {
    background-color: orange; 
  }
  40%{
    background-color: yellow;
  }
  43.3% {
    background-color: #00ff00;
  }
  46.7%{
    background-color: #00ffff;
  }
  50% {
    background-color: #0000ff;
  }
  53.3% {
    background-color: #9900ff;
  } 
  56.6% {
    background-color: #ffccff;
  }
  60% {
   background-color: #ffffff;
  }
  63.3% {
    background-color: transparent;
  } 
  66.7% {
    background-color: red;
  }
  70% {
    background-color: orange; 
  }
  73.3%{
    background-color: yellow;
  }
  76.6% {
    background-color: #00ff00;
  }
  80%{
    background-color: #00ffff;
  }
  83.3% {
    background-color: #0000ff;
  }
  86.7% {
    background-color: #9900ff;
  } 
  90% {
    background-color: #ffccff;
  }
  93.3% {
   background-color: #ffffff;
  }
  96.6% {
    background-color: transparent;
  } 
  100% {
    background-color: red;
    -moz-transform: scale(1.0);
  }
}

@-ms-keyframes pulseOutColor {
  0% {
    background-color: red;
    -ms-transform: scale(0.3);
  }
  3.3% {
    background-color: orange; 
  }
  6.6%{
    background-color: yellow;
  }
  10% {
    background-color: #00ff00;
  }
  13.3%{
    background-color: #00ffff;
  }
  16.6% {
    background-color: #0000ff;
  }
  20% {
    background-color: #9900ff;
  } 
  23.3% {
    background-color: #ffccff;
  }
  26.7% {
   background-color: #ffffff;
  }
  30% {
    background-color: transparent;
  } 
  33.3% {
    background-color: red;
  }
  36.6% {
    background-color: orange; 
  }
  40%{
    background-color: yellow;
  }
  43.3% {
    background-color: #00ff00;
  }
  46.7%{
    background-color: #00ffff;
  }
  50% {
    background-color: #0000ff;
  }
  53.3% {
    background-color: #9900ff;
  } 
  56.6% {
    background-color: #ffccff;
  }
  60% {
   background-color: #ffffff;
  }
  63.3% {
    background-color: transparent;
  } 
  66.7% {
    background-color: red;
  }
  70% {
    background-color: orange; 
  }
  73.3%{
    background-color: yellow;
  }
  76.6% {
    background-color: #00ff00;
  }
  80%{
    background-color: #00ffff;
  }
  83.3% {
    background-color: #0000ff;
  }
  86.7% {
    background-color: #9900ff;
  } 
  90% {
    background-color: #ffccff;
  }
  93.3% {
   background-color: #ffffff;
  }
  96.6% {
    background-color: transparent;
  } 
  100% {
    background-color: red;
    -ms-transform: scale(1.0);
  }
}

@-o-keyframes pulseOutColor {
  0% {
    background-color: red;
    -o-transform: scale(0.3);
  }
  3.3% {
    background-color: orange; 
  }
  6.6%{
    background-color: yellow;
  }
  10% {
    background-color: #00ff00;
  }
  13.3%{
    background-color: #00ffff;
  }
  16.6% {
    background-color: #0000ff;
  }
  20% {
    background-color: #9900ff;
  } 
  23.3% {
    background-color: #ffccff;
  }
  26.7% {
   background-color: #ffffff;
  }
  30% {
    background-color: transparent;
  } 
  33.3% {
    background-color: red;
  }
  36.6% {
    background-color: orange; 
  }
  40%{
    background-color: yellow;
  }
  43.3% {
    background-color: #00ff00;
  }
  46.7%{
    background-color: #00ffff;
  }
  50% {
    background-color: #0000ff;
  }
  53.3% {
    background-color: #9900ff;
  } 
  56.6% {
    background-color: #ffccff;
  }
  60% {
   background-color: #ffffff;
  }
  63.3% {
    background-color: transparent;
  } 
  66.7% {
    background-color: red;
  }
  70% {
    background-color: orange; 
  }
  73.3%{
    background-color: yellow;
  }
  76.6% {
    background-color: #00ff00;
  }
  80%{
    background-color: #00ffff;
  }
  83.3% {
    background-color: #0000ff;
  }
  86.7% {
    background-color: #9900ff;
  } 
  90% {
    background-color: #ffccff;
  }
  93.3% {
   background-color: #ffffff;
  }
  96.6% {
    background-color: transparent;
  } 
  100% {
    background-color: red;
    -o-transform: scale(1.0);
  }
}





/* ============================================================================================== 
This copyright notice must be kept untouched in the stylesheet at all times.
The original version of this stylesheet and the associated (x)html 
is available at http://www.script-tutorials.com/night-sky-with-twinkling-stars/
Copyright (c) Script Tutorials. All rights reserved.
This stylesheet and the associated (x)html may be modified in any way to fit your requirements.
================================================================================================= */
* {
    margin: 0;
    padding: 0;
}


@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}
@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
} 

.stars, .twinkling, .clouds {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height:300vh;
  display:block;
}

.stars {
  background:#000 url(../img/stars.png) repeat top center;
  z-index:0;
  transform: translateZ(0);
}

.twinkling{
  background:transparent url(../img/twinkling.png) repeat top center;
  z-index:1;
  transform: translateZ(0);

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}
